* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
  color: #525252;
}

.main {
  margin: 8px;
}

/* HEADER login-area */
.main .header-login {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.main .header-login .bg {
  width: 80vw 20vw;
}

.main .header-login .bg img {
  border-radius: 8px 8px 0px 8px;
  height: 98vh;
  object-fit: cover;
}

/*login-area*/

.main .login-area {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main .login-area .header img,
.main .login-area .header div {
  margin: 16px;
}

.main .login-area .header div h1 {
  font-size: 2rem;
  font-weight: 700;
}

.main .login-area .header div span {
  font-size: 0.9rem;
  font-weight: 300;
}

.main .login-area .btns-login {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.main .login-area .btns-login .btn {
  margin: 8px;
  padding: 8px;
  border-radius: 8px;
  border: 2px solid #e8e8e8;
  background: none;
  text-align: center;
  transition: all 0.5s;
}

.main .login-area .btns-login .btn:hover {
  cursor: pointer;
  background: #757575;
  color: #e8e8e8;
  border: 2px solid #757575;
}

.main .login-area .btns-login .btn i {
  text-align: center;
}

.main .login-area .middle-login-area span {
  margin: 8px;
  font-size: 14px;
  font-weight: 300;
}

/* FOOTER login-area */

.main .login-area .login-area-footer {
  width: 300px;
  display: flex;
  flex-direction: column;
}

.main .login-area .login-area-footer span {
  margin: 8px 0px;
}

.main .login-area .login-area-footer input {
  padding: 8px;
}
.main .login-area .login-area-footer .forgot-pass {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 16px;
}
.main .login-area .login-area-footer .forgot-pass div {
  align-items: center;
}

.main .login-area .login-area-footer .forgot-pass a {
  text-decoration: none;
  color: #7f265b;
}

.main .login-area .login-area-footer .btn-login {
  background-color: #7f265b;
  padding: 12px;
  border: none;
  border-radius: 8px;
}

.main .login-area .login-area-footer .create-account {
  margin: 13px;
}
.main .login-area .login-area-footer .create-account a {
  text-decoration: none;
  color: #7f265b;
  font-weight: 600;
}
